<table class="data">
	<thead>
		<tr>
			<th>Quote</th>
			<th><%= CompanyConfig.short_name %> Part No.</th>
			<th>Description</th>
			<th>Quantity</th>
			<th>Cust Part No.</th>
			<th>Cost</th>
			<th>Unit Price</th>
			<th>Total Price</th>
			<th>Sales Order</th>
		</tr>
	</thead>
	<tbody>
	<% @quotes.each do |q| %>
		<% so_style = cycle('odd', 'even') %>
		<tr class="<%= so_style %>">
			<td rowspan="<%= q.items.size %>">
				<%= q.fquotedate.to_s(:sales_date) %><br />
				<%= link_to q.fquoteno, quote_url(q) %><br />
				Terms: <%= q.terms.try(:name) %><br />
				Estimator: <%= q.festimator %><br />
				Discount: <%= percent0 q.discount_rate %>%<br />
			</td>
			<% q.items.each do |item| %>
			<% unless item == q.items.first %>
		<tr class="<%= so_style %>">
			<% end %>
			<td><%= link_to item.part_number, item_url(item.part_number) %></td>
			<td><%= simple_format item.fdesc.strip %></td>
			<td><%= cm item.quantity, :sales_order_quantity %></td>
			<td><%= item.fcustpart %></td>
			<td>$<%= cm item.item.try(:total_cost), :dollars %></td>
			<td class="monitary">$<%= cm item.unit_price, :dollars %></td>
			<td class="monitary">$<%= cm (item.unit_price * item.quantity), :rounded_dollars %></td>
			<td><%= link_to item.sales_order_number, sales_order_url(item.fsono) %></td>
		</tr>			
		<% end %>
	<% end %>
	<% if (@total_quotes || 0) > @quotes.size %>
	<tr>
		<td class="ninjaborders" colspan="8">
			<%= link_to "Browse all #{@total_quotes} Quotes", customer_quotes_url(@customer) %>
		</td>
	</tr>
	<% end %>
	</tbody>
</table>
