<% if (@total_sales_order_releases || 0) > @sales_order_releases.size %>
<% browse_all_link = link_to("Browse all #{@total_sales_order_releases} Sales Orders", item_sales_order_releases_url(@item.part_number)) %>
<% end %>
<% if @sales_order_releases.size == 0 %>
	<p>No <%= (@total_sales_order_releases || 0) > 0 ? 'open' : '' %> sales orders</p>
	<% if browse_all_link %>
		<p><%= browse_all_link %></p>
	<% end %>
<% else %>
<table class="data">
	<thead>
		<tr>
			<th>Due Date</th>
			<th>SO</th>
			<th>Qty Shipped<br /> / Ordered</th>
			<th>Status</th>
			<th>Cust PO</th>
			<th>Customer</th>
			<th><%= CompanyConfig.short_name %> Part</th>
			<th>Rev</th>
			<th>Cust<br />Part</th>
			<th>Vend<br />Part</th>
			<th>Desc</th>
			<th>Cost</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
	<% @sales_order_releases.each do |r| %>
		<tr>
			<td><%= r.due_date.to_s(:sales_date) %></td>
			<td><%= link_to r.sales_order.order_number, sales_order_url(r.sales_order) %></td>
			<td class="centered">
				<% if r.status.open? %>
					<%= cm r.quantity, :sales_order_quantity %>
				<% else %>
					<%= cm r.quantity_shipped, :sales_order_quantity %> / <%= cm r.quantity, :sales_order_quantity %>
				<% end %>
			</td>
			<td class="centered"><%= r.status %></td>
			<td class="centered"><%= r.sales_order.customer_po %></td>
			<td><%= link_to r.sales_order.customer_name, customer_url(r.sales_order.fcustno) %></td>
			<td><%= link_to r.item.item.part_number, item_url(r.item.item) %></td>
			<td><%= r.revision %></td>
			<td><%= r.item.customer_part_number %></td>
			<td><%= r.item.item.vendors.map { |v| v.vendor_part_number.strip }.join(', ') %></td>
			<td><%= h r.item.item.fdescript %></td>
			<td class="monitary">$<%= cm r.item.item.try(:total_cost), :dollars %></td>
			<td class="monitary">$<%= cm r.unit_price, :dollars %></td>
		</tr>
	<% end %>
	<% if browse_all_link %>
		<tr><td class="ninjaborders" colspan="13"><%= browse_all_link %></td></tr>
	<% end %>	
	</tbody>
</table>
<% end %>