<h2>Customer Service Log</h2>
<p>
M2M ID: <%= @csl.id %><br />
Company RMA: <%= @csl.company_rma_number %><br />
Status: <%= @csl.status.name %><br />
Category: <%= @csl.category_name %><br />
Date: <%= @csl.date.to_s(:rma_date) %><br />
Quantity: <%= cm @csl.quantity, :rma_quantity %><br />
Customer: <%= link_to @csl.customer_name, customer_url(@csl.customer_number) %><br />
Part: <%= link_to @csl.part_number, item_url(@csl.item.part_number) if @csl.item.present? %><br />
<% if @csl.sales_order_number.present? %>
Sales Order: <%= link_to @csl.sales_order_number, sales_order_url(@csl.sales_order_number)  %><br />
<% end %>
--------------------------------<br />
</p>
<%= h simple_format(@csl.inquiry.strip) %>

<% if CompanyConfig.lighthouse_account %>
<h3>Lighthouse Ticket</h3>
<% if @csl.lighthouse_ticket %>
<p>
<%= link_to @csl.lighthouse_ticket.title, @csl.lighthouse_ticket.url %>
</p>
<% else %>
<h3>No Lighthouse Ticket</h3>
<% end %>
<% end %>
