<%= render 'sales_orders/submenu' %>

<h2><%= CompanyConfig.name %> Invoiced Sales</h2>
<p>This is a slow report.  Be patient.</p>

<%= semantic_form_for @report, :as => 'report', :url => invoiced_sales_reports_url(:format => 'xls') do |f| %>
	<%= f.inputs do %>
  	<%= f.input :start_date, :as => :calendar %>
  	<%= f.input :end_date, :as => :calendar %>
	<% end %>
	<%= f.buttons do %>
	  <%= f.commit_button 'Export XLS' %>
	<% end %>
<% end %>
