<div class="submenu">
	<ul>
		<% if permitted_to?(:read, :production_production_dashboard) %>
		<li class="<%= menu_selected(:controller => :production_dashboard) %>">
			<%= link_to 'Production Home', production_url %>
		</li>
		<% end %>
		<% if permitted_to?(:make, :production_work_center_load_reports) %>
		<li class="<%= menu_selected(:controller => :work_center_load_reports) %>">
			<%= link_to 'Work Center Load', new_work_center_load_report_url %>
		</li>
		<% end %>
		<% if CompanyConfig.enable_inventory_report? and permitted_to?(:read, :production_inventory_reports) %>
		<li class="<%= menu_selected(:controller => :inventory_reports) %>">
			<%= link_to 'Inventory Reports', inventory_reports_url %>
		</li>
		<% end %>
		<% if CompanyConfig.enable_labor_reports? and permitted_to?(:read, :production_labor_reports) %>
		<li class="<%= menu_selected(:controller => :labor_reports) %>">
			<%= link_to 'Labor', labor_reports_url %>
		</li>
		<% end %>
	</ul>
</div>