<% if @purchase_order_items.size == 0 %>
	<p>No purchase orders</p>
<% else %>
<table class="data">
	<thead>
		<tr>
			<th>Item</th>
			<th>PO No</th>
			<th>Item No</th>
			<th>Rel</th>
			<th>Quantity</th>
			<th>Promise<br />Date</th>
			<th>Inspection<br />Required</th>
			<th>Status</th>
			<th>Received</th>
			<th>Date<br />Received</th>
			<th>Unit Cost</th>
		</tr>
	</thead>
	<tbody>
	<% @purchase_order_items.each do |i| %>
		<tr>
			<td><%= link_to_item(i.item, i.part_number) %></td>
			<td><%= i.purchase_order_number %></td>
			<td><%= i.item_number %></td>
			<td><%= i.release %></td>
			<td class="right"><%= cm i.quantity, :purchase_order_quantity %></td>
			<td><%= i.last_promise_date.to_s(:purchase_date) if i.last_promise_date %></td>
			<td><%= i.inspection_required %></td>
			<td><%= i.purchase_order.status %></td>
			<td class="right"><%= cm i.quantity_received, :purchase_order_quantity %></td>
			<td><%= i.date_received.to_s(:purchase_date) if i.quantity_received > 0 %></td>
			<td><%= cm i.unit_cost, :dollars %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<% end %>