<table class="data">
	<thead>
		<tr>
			<th><%= CompanyConfig.name %> Part #</th>
			<th>PO Vendor Part #</th>
			<th>Qty Received</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
<% receiver.items.each do |i| %>
		<tr>
			<td><%= link_to_item i.item, i.part_number %></td>
			<td><%= i.po_vendor_part_number %></td>
			<td><%= cm i.quantity, :sales_order_quantity %></td>
			<td><%= i.flocation %></td>
		</tr>
<% end %>
	</tbody>
</table>
