<%= f.semantic_errors :base %>

<%= f.inputs :class => 'horizontal' do %>
	<%= f.input :part_number, :wrapper_html => { :class => 'small_string' } %>
	<%= f.input :quantity %>
	<%= f.input :expected_cost %>
	<%= f.input :price %>
<% end %>
<%= f.inputs :class => 'horizontal' do %>
	<%= f.input :description %>
  <%= f.action 'Save' %>
	<li class="cancel">
		<%= link_to 'Cancel', '#', :class => 'inplace_cancel_link' %>
	</li>
<% end %>