<% if !defined?(show_quotes) %>
<% show_quotes = false %>
<% end %>
<table class="data">
	<tbody>
		<thead>
			<tr>
				<% if show_quotes %>
				<th>Quote</th>
				<th>Customer</th>
				<% else %>
				<th>Item #</th>
				<% end %>
				<th><%= AppConfig.short_name %> Part No.</th>
				<th>Description</th>
				<th>Qty</th>
				<th>Cust Part</th>
				<th>Unit Price</th>
				<th>Total<br />Price</th>
				<th>Sales<br />Order</th>
			</tr>
		</thead>
<% quote_items.each do |item| %>
		<tr>
			<% if show_quotes %>
			<td><%= link_to item.quote.quote_number, sales_quote_url(item.quote) %></td>
			<td><%= link_to item.quote.customer_name, customer_number_url(item.quote.fcustno) %></td>
			<% else %>
			<td><%= item.fenumber %></td>
			<% end %>
			<td><%= link_to_item item.item, item.part_number %></td>
			<td><%= simple_format item.description.strip %></td>
			<td><%= cm item.quantity, :sales_order_quantity %></td>
			<td><%= item.customer_part_number %></td>
			<td class="monitary"><%= cm item.unit_price, :dollars %></td>
			<td class="monitary"><%= cm item.total_price, :dollars %></td>
			<td><%= link_to item.sales_order_number, sales_order_url(item.fsono) %></td>
		</tr>
<% end %>
	</tbody>
</table>
