<tr class="<%= quote_item.new_record? ? 'add_row' : '' %>">
	<td>
		<a class="delete_row">X</a>
		<%= hidden_field_tag 'quote_item[id]', quote_item.id %>
		<%= text_field_tag 'quote_item[part_number]', quote_item.part_number %>
		<br />
		<%= text_area_tag 'quote_item[description]', quote_item.description %>
	</td>
	<td><%= text_field_tag 'quote_item[customer_part_number]', quote_item.customer_part_number %></td>
	<td><%= text_field_tag 'quote_item[expected_cost]', quote_item.expected_cost %></td>
	<td><%= text_field_tag 'quote_item[quantity]', quote_item.quantity.to_i %></td>
	<td><%= text_field_tag 'quote_item[price]', quote_item.price %></td>
	<td class="margin">
		<% if quote_item.margin %>
			<%= percent0 quote_item.margin %>%
		<% end %>
	</td>
</tr>
