<table class="data">
	<thead>
		<tr>
			<th>Purchase Order</th>
			<th>Quantity</th>
			<th>Status</th>
			<th>Received</th>
			<th>Date Received</th>
			<th>Vendor Part</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
	<% @purchase_order_items.each do |i| %>
		<tr>
			<td><%= i.purchase_order_number %></td>
			<td><%= cm i.quantity, :purchase_order_quantity %></td>
			<td><%= i.purchase_order.status %></td>
			<td><%= cm i.quantity_received, :purchase_order_quantity %></td>
			<td><%= i.date_received.to_s(:purchase_date) if i.quantity_received > 0 %></td>
			<td><%= i.item.vendors.map { |v| v.fvpartno.strip }.join(', ') %></td>
			<td><%= h i.item.fdescript %></td>
		</tr>
	<% end %>
	</tbody>
</table>
