<table class="backlog">
  <thead>
    <tr>
      <th>Customer / SO</th>
      <th>Cust PO</th>
      <th><%= AppConfig.short_name %> Part</th>
      <th>Cust Part</th>
      <th>Ordered</th>
      <th>Shipped</th>
      <th>BkOrd Qty</th>
      <th>On Hand</th>
      <th>Bin</th>
    </tr>
  </thead>
<% last_customer = nil %>
<% @report.releases.each do |r| %>
  <% current_customer = r.sales_order.customer_number %>
  <% pagebreak = "page-break-before" if (@page_per_customer and last_customer and (last_customer != current_customer)) %>
  <% last_customer = current_customer %>
  <tbody class="<%= pagebreak %> no-inside-page-break">
    <tr>
      <td class="<%= sbl_shippable(r, 'c1') %>" rowspan="2">
        <% if r.sales_order.customer.status.try(:credit_hold?) %>
          <strong>Credit Hold</strong><br />
        <% end %>
        <%= link_to r.sales_order.customer_name, m2m_customer_number_url(r.sales_order.fcustno) %><br />
        Ship To: <%= r.sales_order.customer.addresses.ship_to.where(:fcaddrkey => r.fshptoaddr).first.try(:fccompany) %><br />
        SO: <%= link_to r.sales_order_number, sales_order_url(r.sales_order_number) %><br />
        Ship: <%= r.due_date.to_s(:sales_date) %>
        <% if r.item.fdescmemo.present? %>
        <br />Memo: <%=h r.item.fdescmemo %>
        <% end %>
      </td>
      <td class="centered <%= sbl_shippable(r, 'top') %>"><%= r.sales_order.customer_po %></td>
      <td class="centered <%= sbl_shippable(r, 'top') %>">
        <%= link_to_item r.item.item, r.part_number %>
        <%= r.revision unless r.revision == '000' %>
      </td>
      <td class="<%= sbl_shippable(r, 'top') %>"><%= r.item.customer_part_number %></td>
      <td class="right <%= sbl_shippable(r, 'top') %>"><%= cm r.quantity, :sales_order_quantity, 0 %></td>
      <td class="right <%= sbl_shippable(r, 'top') %>"><%= cm r.quantity_shipped, :sales_order_quantity, 0 %></td>
      <td class="right <%= sbl_shippable(r, 'top') %>"><%= cm r.backorder_quantity, :sales_order_quantity, 0 %></td>
      <td class="right <%= sbl_shippable(r, 'top') %>">
        <% if r.item.item %>
        <%= cm r.item.item.try(:quantity_on_hand), :sales_order_quantity, 0 %>
        <% unless r.can_be_fully_shipped? %>
        <span class="sbl_jobs_link">
        <%= link_to image_tag(AppConfig.job_search_image), item_jobs_url(r.item.item, :layout => 'popup'), :class => 'jobspopup' %>
        </span>
        <% end %>
        <% end %>
      </td>
      <td class="centered <%= sbl_shippable(r, 'cr') %>"><%= render( :template => 'items/_locations.html.erb', :locals => {:item => r.item.item}) if r.item.item %></td>
    </tr>
    <tr>
      <td colspan="8" class="<%= sbl_shippable(r, 'bottom') %>">
        <% unless @report.include_jobs.none? or r.item.nil? %>
          <% if (jobs = M2m::Job.for_item(r.item.item).status(@report.include_jobs.job_status).by_date_desc.all) and (jobs.size > 0) %>
            <%= render 'items/jobs/list.html.erb', :jobs => jobs, :mini_format => true %>
          <% end %>
        <% else %>
          <% if (description = r.item.try(:item).try(:description)).present? %>
          Description: <%= description %><br />
          <% end %>
          <% if (fob = r.sales_order.fob).present? %>
          FOB: <%= fob %>, 
          <% end %>
          <% if (ship_via = r.sales_order.ship_via).present? %>
          Via: <%= ship_via %><br />
          <% end %>
          <% if (notes = r.sales_order.customer.notes).present? %>
          notes: <%= h notes %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% unless @printing and !@report.include_jobs.none? %>
    <tr class="spacer"><td></td></tr>
    <% end %>
  </tbody>
<% end %>
</table>
