<% title 'Edit Commission Rate' %>

<%= render 'sales/commission_reports/submenu' %>
<br />

<h2>Editing Commission Rate</h2>

<%= semantic_form_for @commission_rate, :url => commission_rate_url(@commission_rate) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
	<%= f.actions do %>
	  <%= f.action :submit %>
	  <%= f.cancel_link %>
	<% end %>
<% end %>
