<table class="data">
	<thead>
		<tr>
			<th>Quote</th>
			<th>Customer</th>
			<th>Part Nos.</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
	<% @quotes.each do |q| %>
		<% so_style = cycle('odd', 'even') %>
		<tr class="<%= so_style %>">
			<td><%= link_to q.quote_number, sales_quote_url(q) %></td>
			<td><%= link_to q.customer_name, sales_customer_url(q.sales_customer) %></td>
			<td><%= q.uniq_part_numbers.join(', ') %></td>
			<td><%= q.created_at.to_s(:short_human_date) %></td>
		</tr>
	<% end %>
	</tbody>
</table>
