<% title 'Edit Quote' %>

<%= render 'sales/opportunities/submenu' %>
<br />

<h2>Editing Quote <%= @quote.quote_number %></h2>

<%= semantic_form_for @quote, :url => sales_quote_url(@quote) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
	<%= f.actions do %>
	  <%= f.action :submit %>
	  <%= f.cancel_link %>
		<li class="deletastic_container">
			<%= link_to 'Delete', '#', :class => 'deletastic_delete_link' %>
			<div class="deletastic_confirmation">
				Are you sure?
				<%= link_to 'Delete', '#', :class => 'deletastic_boom' %>
				<br />
				<%= link_to 'Cancel', '#', :class => 'deletastic_delete_cancel_link' %>
			</div>
		</li>
	<% end %>
<% end %>

