<% title 'New Quote' %>

<%= render 'sales/opportunities/submenu' %>
<br />

<h2>Create New Quote</h2>

<%= semantic_form_for @quote, :url => sales_quotes_url do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
	<%= f.actions do %>
	  <%= f.action :submit, :label => 'Create' %>
	  <%= f.cancel_link %>
	<% end %>
<% end %>

