
<div class="paging">
	<%= link_to("&laquo; #{@previous_quote.quote_number} (#{@previous_quote.customer_name})".html_safe, sales_quote_url(@previous_quote.quote_number)) if @previous_quote %>
	<%= link_to "Quotes", sales_quotes_url %>
	<%= link_to("#{@next_quote.quote_number} (#{@next_quote.customer_name}) &raquo;".html_safe, sales_quote_url(@next_quote.quote_number)) if @next_quote %>
</div>

<p>
	Quote: <%= @quote.fquoteno %><br />
	Company: <strong><%= link_to @quote.customer_name, m2m_customer_number_url(@quote.fcustno) %></strong><br />
	Date: <%= @quote.fquotedate.to_s(:sales_date) %><br />
	Terms: <%= @quote.terms.try(:name) %><br />
	Estimator: <%= @quote.festimator %><br />
	Discount: <%= percent0 @quote.discount_rate %>%
</p>

<h2>Items</h2>
<%= render 'sales/quote_items/list', :quote_items => @quote.items %>

<p>
	<strong>Memo:</strong>
</p>
<%= simple_format(@quote.memo) %>
