<div class="submenu">
	<ul>
		<% if permitted_to?(:read, :quality) %>
		<li class="<%= controller_selected(:quality) %>">
			<%= link_to 'Quality Home', quality_url %>
		</li>
		<% end %>
		<% if permitted_to?(:make, :rma_reports) %>
		<li class="<%= controller_selected(:rma_reports) %>">
			<%= link_to 'RMA Reports', new_rma_report_url %>
		</li>
		<% end %>
		<% if permitted_to?(:make, :customer_otd_reports) %>
		<li class="<%= controller_selected(:customer_otd_reports) %>">
			<%= link_to 'OTD Reports', new_customer_otd_report_url %>
		</li>
		<% end %>
	</ul>
</div>