<div class="opportunity_comment_container">
	<% if comment.comment_type.try(:comment?) %>
	<div class="opportunity_comment">
		<div class="hiddenedit">
			<%= link_to 'Edit', edit_opportunity_comment_url(comment) %>
		</div>
		<p>
			<strong><%= comment.creator.try(:full_name)%></strong><br />
			<%= comment.created_at.to_s(:letter_date_time) %>
			<% if comment.status_change? %>
			<br />
			<%= comment.previous_status.try(:name) %> &rarr; <%= comment.status.try(:name) %>
			<% end %>
		</p>
		<%= simple_format(comment.comment) if comment.comment.present? %>
		<% if comment.status.active? and comment.quote.present? %>
		<p>
			<%= link_to 'Quote ' + comment.quote.fquoteno, sales_quote_url(comment.quote) %>
			for <%= link_to comment.quote.customer_name, customer_number_url(comment.quote.fcustno) %>
		</p>
		<% elsif comment.status.won? and comment.sales_order.present? %>
		<p>
			<%= link_to 'Sales Order ' + comment.sales_order_id, sales_order_url(comment.sales_order_id) %>
			for <%= link_to comment.sales_order.customer_name, customer_number_url(comment.sales_order.fcustno) %>
		</p>
		<% elsif comment.status.lost? %>
		<p>
			<strong>Loss Reason: <%= comment.loss_reason.name %></strong>
		</p>
		<% end %>
	</div>
	<% else %>
	<div class="opportunity_ticket <%= comment.lighthouse_ticket.try(:closed) ? 'lighthouse_ticket_closed' : '' %>">
		<div class="hiddenedit">
			<%= link_to 'Edit', edit_opportunity_comment_url(comment) %>
		</div>
		<%= render 'sales/opportunity_comments/show_ticket', :comment => comment %>
	</div>
	<% end %>
</div>