<%= image_tag(AppConfig.lighthouse_image) %>
<p>
	<strong><%= link_to_if comment.lighthouse_url, comment.lighthouse_title, comment.lighthouse_url %></strong><br />
	Status: <strong><%= comment.lighthouse_status %></strong>
	<%= comment.lighthouse_project_name %>
	<% unless comment.lighthouse_milestone.blank? %>
	- <%= comment.lighthouse_milestone %>
	<% end %>
	<br />
	<% unless comment.lighthouse_closed %>
	Assigned To: <%= comment.lighthouse_last_assigned_user_name %><br />
	<% end %>
	<% unless comment.lighthouse_last_updated_at.nil? %>
	Last updated: <strong><%= comment.lighthouse_last_updater %></strong> @ <%= comment.lighthouse_last_updated_at.to_s(:letter_date_time) %>
	<% end %>
</p>
<%= raw comment.lighthouse_last_comment %>
