<p>
	<em><%= comment.created_at.to_s(:short_human_date_time) %></em>
	<% if full_name = comment.creator.try(:full_name) %>
	by <strong><%= full_name %></strong>
	<% end %>
	<br />
	<% if comment.comment_type.sales_order? %>
	Won <%= comment.win_type.try(:name) %>
	<% elsif comment.status_change? and comment.previous_status.try(:name) %>
	<%= comment.previous_status.try(:name) %> &rarr; <%= comment.status.try(:name) %>
	<% if comment.status.hold? %>
	<br />
	Wakeup: <%= comment.wakeup.to_s(:short_human_date) %>
	<% end %>
	<% end %>
</p>
