<% content_for :javascripts do %>
	<script type="text/javascript">
	$(function() {
		$(".closed_details").toggle_visibility('<%= image_tag(AppConfig.arrow_collapse_image) %>', '<%= image_tag(AppConfig.arrow_expand_image) %>');
	});
	</script>
<% end %>
<%= will_paginate @customer_reports %>

<table class="data">
	<thead>
		<tr>
			<th>Customer</th>
			<th>Part</th>
			<th>Last Receipt</th>
			<th>Last Ship</th>
			<th>Next Receipt</th>
			<th>Next Ship</th>
			<% Production::InventoryReportQuantity.all.each do |quantity| %>
			<th><%= quantity.name %></th>
			<% end %>
		</tr>
		<tr>
			<th colspan="6" class="right">Total</th>
			<% Production::InventoryReportQuantity.all.each do |quantity| %>
			<th class="right"><%= cm @report.send(quantity.total_cost_key), :rounded_dollars %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @customer_reports.each do |customer_report| %>
		<% item_reports = customer_report.item_reports.by_on_hand_cost_desc.to_a %>
		<% first_item_report = item_reports.first %>
		<% item_reports.each do |item_report| %>
		<tr>
			<% if item_report == first_item_report %>
			<td rowspan="<%= customer_report.item_reports.size %>"><%= customer_report.customer_name %></td>
			<% end %>
			<td>
				<a href="#" class="closed_details" id="closed_details_<%= item_report.m2m_identity_column %>">
					<span class="replace_closed_details_<%= item_report.m2m_identity_column %>">
						<%= image_tag(AppConfig.arrow_collapse_image) %>
					</span>
					<%= item_report.part_number %>
				</a>
			</td>
			<td><%= item_report.last_incoming_date.try(:to_s, :report_date) %></td>
			<td><%= item_report.last_outgoing_date.try(:to_s, :report_date) %></td>
			<td><%= item_report.next_incoming_date.try(:to_s, :report_date) %></td>
			<td><%= item_report.next_outgoing_date.try(:to_s, :report_date) %></td>
			<% Production::InventoryReportQuantity.all.each do |quantity| %>
			<td class="right">
				<%= cm item_report.send(quantity.total_cost_key), :rounded_dollars %>
				<div class="hide xclosed_details_<%= item_report.m2m_identity_column %>">
					<br /><%= cm item_report.send(quantity.quantity_key), :item_quantity %>
				</div>
			</td>
			<% end %>
		</tr>
		<% end %>
		<tr>
			<td colspan="6" class="right">Subtotal</td>
			<% Production::InventoryReportQuantity.all.each do |quantity| %>
			<th class="right"><%= cm customer_report.send(quantity.total_cost_key), :rounded_dollars %></th>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
