<table class="data">
	<thead>
		<tr>
			<th>Customer</th>
			<th>Part</th>
			<th>On Hand</th>
			<th>Committed</th>
			<th>Available</th>
			<th>Ordered</th>
			<th>Unit Cost</th>
			<th>Total Cost</th>
		</tr>
		<tr>
			<th colspan="7" class="right">Total</th>
			<th class="right">$<%= cm @report.total_cost, :rounded_dollars %></th>
		</tr>
	</thead>
	<tbody>
		<% @report.ordered_customer_reports.each do |customer_report| %>
		<% customer_report.sorted_inventories.each do |inventory| %>
		<tr>
			<% if inventory == customer_report.sorted_inventories.first %>
			<td rowspan="<%=customer_report.inventories.size %>"><%= customer_report.customer.try(:name) %></td>
			<% end %>
			<td><%= link_to inventory.item.part_number, item_url(inventory.item) %></td>
			<td><%= render 'items/locations', :item => inventory.item %></td>
			<td class="right"><%= cm inventory.item.quantity_committed, :item_quantity %></td>
			<td class="right"><%= cm inventory.item.quantity_available, :item_quantity %></td>
			<td class="right"><%= cm inventory.item.quantity_on_order, :item_quantity %></td>
			<td class="right">$<%= cm inventory.item.standard_cost, :dollars %></td>
			<td class="right">$<%= cm inventory.cost, :rounded_dollars %></td>
		</tr>
		<% end %>
		<tr>
			<td colspan="7" class="right">Subtotal</td>
			<th class="right">$<%= cm customer_report.total_cost, :rounded_dollars %></th>
		</tr>
		<% end %>
		<tr>
			<th colspan="7" class="right">Total</th>
			<th class="right">$<%= cm @report.total_cost, :rounded_dollars %></th>
		</tr>
	</tbody>
</table>
