<% content_for :javascripts do %>
<script type="text/javascript">
$(function() {
	$("input#sales_customer_erp_customer_name").autocomplete({
		source: "<%= m2m_customers_url %>",
		search: function(event, ui) { 
			$("input#sales_customer_erp_customer_name").autocomplete("close");
			$("#customer_inprogress").show();
		},
		open: function(event, ui) { 
			$("#customer_inprogress").hide();
		},
		select: function(event, ui) { 
			if (ui.item.value == "No Results") {
				$(this).val( "" ); 
				// Do nothing.
			}	else {
				$(this).val( ui.item.value ); 
			}
			return false; 
		}		
	});
})
</script>
<% end %>
<%= f.semantic_errors :base %>

<%= f.inputs do %>
  <%= f.input :name %> 
	<li class="flat string input optional stringish" id="sales_customer_erp_customer_name_input">
		<label class=" label" for="sales_customer_erp_customer_name"><%= Sales::Customer.human_attribute_name(:erp_customer_name) %></label>
		<%= f.text_field :erp_customer_name %>
		<span id="customer_inprogress" class="hide">
		<%= image_tag AppConfig.in_progress_image %>
		</span>
	</li>
	<%= f.input :location %>
	<%= f.input :sales_territory, :label_method => :name_and_description, :collection => Sales::Territory.by_name %>
	<%= f.input :business_type, :collection => Sales::BusinessType.by_name %>
	<%= f.input :website, :as => :string %>
	<%= f.input :notes, :wrapper_html => { :class => 'medium_textarea' } %>
<% end %>

