<%= link_to image_tag('lighthouse.png'), ticket.url %>
<h2>Lighthouse Ticket: <%= link_to ticket.title, ticket.url %></h2>
<div class="lighthouse_ticket">
	<p>
	State: <%= ticket.state %><br />
	Milestone: <%= ticket.milestone_title %><br />
	Assigned To: <%= ticket.assigned_user_name %>
	</p>
	<table class="data">
		<% ticket.versions.each do |comment| %>
		<thead>
			<tr>
				<th>Date</th>
				<th>State</th>
				<th>From</th>
				<th>Assigned</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= comment.created_at.to_s(:rma_comment) %></td>
				<td><%= comment.state %></td>
				<td><%= comment.user_name %></td>
				<td><%= comment.assigned_user_name %></td>
			</tr>
			<tr>
				<td colspan="4">
					<%= comment.body_html %>
				</td>
			</tr>
		</tbody>
		<% end %>
	</table>
</div>
