<% include_closed_details_javascript %>
<%= render 'quality/submenu' %>
<br />

<%= render 'quality/year_search', :search_url => new_customer_otd_report_url %>

<% count = 0 %>
<table class="data">
	<thead>
		<tr>
			<th>Date</th>
			<th>Percent Late</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
<% @report.ordered_months.each do |month| %>
	<% count += 1 %>
	<tr>
		<td><%= month.date.to_s(:month_year) %></td>
		<td><%= cm month.percent_late, :on_time_delivery_report %>% Late (<%= month.num_late_releases %> / <%= month.num_releases %>)</td>
		<td class="otd_details">
			<% if month.num_late_releases > 0 %>
			<a href="#"><span class="show_closed_details" id="closed_details_<%= count %>">Show Details</span></a>
			<div class="closed_details xclosed_details_<%= count %>">
			<%= render 'otd_details', :releases => month.late_releases.sort_by(&:due_date) %>
			</div>
			<% end %>
		</td>
	</tr>
<% end %>
	<tr>
		<th>Total</th>
		<th><%= cm @report.percent_late, :on_time_delivery_report %>% Late (<%= @report.num_late_releases %> / <%= @report.num_releases %>)</th>
	</tr>
</table>