<table class="details">
	<thead>
		<tr>
			<th>RMA</th>
			<th>Status</th>
			<th>Cat</th>
			<th>Invoice</th>
			<th>Invoice Date</th>
			<th>Invoice Amount</th>
			<th>Part Number</th>
			<th>Customer</th>
			<th>Qty</th>
			<th>Problem</th>
		</tr>
	</thead>
	<tbody>
<% rma_items.sort_by { |ri| [ri.rma.date, ri.item_number ] }.each do |rma_item| %>
		<tr>
			<td>
				<%= link_to rma_item.rma_number, rma_url(rma_item.rma_number) %>
				<% if rma_item.rma.lighthouse_ticket_reference %>
				<%= link_to image_tag('lighthouse.png', :width => 16), rma_url(rma_item.rma_number) %>
				<% end %>
				<%#= rma_item.rma.company_rma_number %><%= rma_item.rma.items.size > 1 ? "-#{rma_item.item_number}" : '' %>
			</td>
			<td><%= rma_item.rma.status.name %></td>
			<td><%= rma_item.rma.severity_name %></td>
			<td><%= rma_item.invoice_items.map { |ii| ii.clean_invoice_number + '.' + ii.clean_item_number }.join(', ') %></td>
			<td><%= rma_item.invoice_items.map { |ii| ii.invoice.date.to_s(:invoice_date) }.join(', ') %></td>
			<td class="right">$<%= cm rma_item.invoice_amount, :quality_credit_memo_total, 0 %></td>
			<td><%= link_to rma_item.part_number, item_url(rma_item.part_number) %></td>
			<td><%= link_to rma_item.rma.customer.company_name, customer_url(rma_item.rma.customer_number) %></td>
			<td><%= cm rma_item.quantity, :rma_quantity %></td>
			<td><%= simple_format rma_item.reason %></td>
		</tr>
<% end %>
	</tbody>
</table>