<table class="details">
	<thead>
		<tr>
			<th>RMA</th>
			<th>Status</th>
			<th>Cat</th>
			<th>Invoice</th>
			<th>Invoice Date</th>
			<th>Invoice Amount</th>
			<th>Part Number</th>
			<th>Customer</th>
			<th>Qty</th>
			<th>Problem</th>
		</tr>
	</thead>
	<tbody>
<% rmas.sort_by(&:date).each do |rma| %>
		<tr>
			<td><%= rma.company_rma_number %></td>
			<td><%= rma.status.name %></td>
			<td><%= rma.severity_name %></td>
			<% if rma.credit_memo_reference.present? %>
			<td class="<%= rma.credit_memo_reference.present? ? '' : 'guessed_credit_memo' %>"><%= rma.credit_memo_reference.invoice_number %></td>
			<td><%= rma.invoice_date.to_s(:invoice_date) if rma.invoice_date %></td>
			<td class="right">$<%= cm rma.invoice_amount, :quality_credit_memo_total, 0 %></td>
			<% else %>
			<td></td><td></td><td></td>
			<% end %>
			<td><%= link_to rma.part_number, item_url(rma.part_number) %></td>
			<td><%= link_to rma.customer.company_name, customer_url(rma.customer_number) %></td>
			<td><%= cm rma.quantity, :rma_quantity %></td>
			<td><%#= simple_format rma.inquiry %></td>
		</tr>
<% end %>
	</tbody>
</table>