<table class="data fullsize">
	<thead>
		<tr>
			<th class="fixname">Vendor</th>
			<th class="fixnum">Total</th>
			<th class="fixnum">Quality Credit Memos</th>
			<th class="fixnum">Percent Quality Returns</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
	<% @id_count ||= 0 %>
	<% @report.ordered_vendor_reports.each do |vendor_report| %>
		<% @id_count += 1 %>
		<tr>
			<td class="fixname"><%= vendor_report.vendor.name %></td>
			<td class="right fixnum"><%= cm vendor_report.invoice_total, :rounded_dollars, 0 %></td>
			<td class="right fixnum"><%= cm vendor_report.quality_credit_memo_total, :rounded_dollars, 0 %></td>
			<td class="right fixnum"><%= cm vendor_report.percent_quality_credit_memos, :quality_credit_memo_percentage, 0 %>%</td>
			<td>
				<% if vendor_report.rma_items.size > 0 %>
				<a href="#"><span class="show_closed_details" id="closed_details_<%= @id_count %>">
					<%= image_tag(AppConfig.arrow_collapse_image) %>
					Show Details
				</span></a>
				<% end %>
			</td>
		</tr>
		<tr class="closed_details xclosed_details_<%= @id_count %>">
			<td colspan="5">
			<%= render 'credit_memo_details', :rma_items => vendor_report.rma_items %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>
