<% content_for :javascripts do %>
	<%= javascript_include_tag('inplace.js') %>
	<script type="text/javascript">
	$(function() {
		$(".closed_details").toggle_visibility('<%= image_tag(AppConfig.arrow_collapse_image) %> Show Details', '<%= image_tag(AppConfig.arrow_expand_image) %> Hide Details');
	});
	</script>
<% end %>
<%= render 'quality/submenu' %>
<br />

<%= render 'quality/year_search', :search_url => new_credit_memo_report_url %>

<table class="data fullsize">
	<thead>
		<tr>
			<th class="fixnum">Date</th>
			<th class="fixnum">Month Total</th>
			<th class="fixnum">Quality Credit Memos</th>
			<th class="fixnum">Percent Quality Returns</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
	<% @id_count ||= 0 %>
	<% @report.ordered_months.each do |month| %>
		<% @id_count += 1 %>
		<tr>
			<td class="fixnum"><%= month.date.to_s(:month_year) %></td>
			<td class="right fixnum"><%= cm month.invoice_total, :rounded_dollars %></td>
			<td class="right fixnum"><%= cm month.quality_credit_memo_total, :rounded_dollars, 0 %></td>
			<td class="right fixnum"><%= cm month.percent_quality_credit_memos, :quality_credit_memo_percentage, 0 %>%</td>
			<td>
				<% if month.rma_items.size > 0 %>
				<a href="#" class="closed_details" id="closed_details_<%= @id_count %>">
					<span class="replace_closed_details_<%= @id_count %>">
						<%= image_tag(AppConfig.arrow_collapse_image) %>
						Show Details
					</span>
				</a>
				<% end %>
			</td>
		</tr>
		<tr class="hide xclosed_details_<%= @id_count %>">
			<td colspan="5">
				<%= render 'credit_memo_details', :rma_items => month.rma_items %>
			</td>
		</tr>
	<% end %>
		<tr>
			<th class="fixnum">Totals</th>
			<th class="right fixnum"><%= cm @report.invoice_total, :rounded_dollars, 0 %></th>
			<th class="right fixnum"><%= cm @report.quality_credit_memo_total, :rounded_dollars, 0 %></th>
			<th class="right fixnum"><%= cm @report.percent_quality_credit_memos, :quality_credit_memo_percentage, 0 %>%</th>
		</tr>
	</tbody>
</table>

<%= render 'credit_memos_by_vendor' %>