
<% if @events and (@events.size > 0) %>
<h3><%= link_to 'Events', m2mhub_events_url %></h3>
<%= render 'm2mhub/events/list' %>
<% end %>

<% if @date_reports and (@date_reports.size > 0) %>
<h3><%= link_to 'Sales Reports', sales_reports_url %></h3>
<%= render 'sales/sales_reports/month_list', :date_reports => @date_reports %>
<% end %>

<% if @backlog_report %>
<h3><%= link_to 'Backlog', sales_backlog_report_url(@backlog_report) %></h3>
<%= render 'sales/backlog_reports/summary', :backlog_report => @backlog_report %>
<% end %>

<% if @opportunity_report %>
<h3><%= link_to 'Sales Scoreboard', sales_scoreboard_url %></h3>
<%= render 'sales/opportunity_reports/new' %>
<% end %>

<h3><%= link_to 'Sales Orders', sales_orders_url %></h3>
<%= render 'sales/sales_orders/list' %>

<% if @quotes.size > 0 %>
<h3><%= link_to 'M2M Quotes', m2m_quotes_url %></h3>
<%= render 'sales/m2m_quotes/list' %>
<% end %>
