
<% if @events.size > 0 %>
<h3><%= link_to 'Events', m2mhub_events_url %></h3>
<%= render 'm2mhub/events/list' %>
<% end %>

<% if @monthly_sales_reports and (@monthly_sales_reports.size > 0) %>
<h3><%= link_to 'Sales Reports', sales_reports_url %></h3>
<%= render 'sales/sales_reports/month_list', :reports => @monthly_sales_reports %>
<% end %>

<h3><%= link_to 'Recent Sales Orders', sales_orders_url %></h3>
<%= render 'sales_orders/list' %>

<% if @quotes.size > 0 %>
<h3><%= link_to 'Recent Quotes', quotes_url %></h3>
<%= render 'quotes/list' %>
<% end %>
