<% if include_browse_all and (@total_purchase_order_items > @purchase_order_items.size) %>
<% browse_all_link = link_to("Browse all #{@total_purchase_order_items} Purchase Order Items", item_purchase_order_items_url(@item)) %>
<% end %>
<% if @purchase_order_items.size == 0 %>
	<p>No <%= @total_purchase_order_items > 0 ? 'open' : '' %> purchase orders</p>
	<% if browse_all_link %>
		<p><%= browse_all_link %></p>
	<% end %>
<% else %>
<table class="data">
	<thead>
		<tr>
			<th>Vendor</th>
			<th>PO No</th>
			<th>Item No</th>
			<th>Rel</th>
			<th>Quantity</th>
			<th>Promise<br />Date</th>
			<th>Status</th>
			<th>Received</th>
			<th>Date Received</th>
			<th>Vendor Part</th>
			<th>Unit Cost</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
	<% @purchase_order_items.each do |i| %>
		<tr>
			<td><%= i.purchase_order.vendor.try(:name) %></td>
			<td><%= i.purchase_order_number %></td>
			<td><%= i.item_number %></td>
			<td><%= i.release %></td>
			<td class="right"><%= cm i.quantity, :purchase_order_quantity %></td>
			<td><%= i.last_promise_date.to_s(:purchase_date) if i.last_promise_date %></td>
			<td><%= i.purchase_order.status %></td>
			<td class="right"><%= cm i.quantity_received, :purchase_order_quantity %></td>
			<td><%= i.date_received.to_s(:purchase_date) if i.quantity_received > 0 %></td>
			<td><%= @item.vendors.map { |v| v.fvpartno.strip }.join(', ') %></td>
			<td><%= cm i.unit_cost, :dollars %></td>
			<td><%= h @item.fdescript %></td>
		</tr>
	<% end %>
	<% if browse_all_link %>
		<tr><td class="ninjaborders" colspan="8"><%= browse_all_link %></td></tr>
	<% end %>
	</tbody>
</table>
<% end %>