<%= render 'items/summary' %>

<h2>Purchase Orders Items for <%= item_part_number(@item) %></h2>
<%= will_paginate @purchase_order_items %>

<%= render 'list', :include_browse_all => false %>

<%= will_paginate @purchase_order_items %>
