<% include_closed_details_javascript('More', 'Less') %>
<%= f.inputs do %>
  <%= f.input :fcompany %> 
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :work_email %>
	<%= f.input :work_phone %>
	<%= f.input :notes, :as => :text, :wrapper_html => { :class => 'notes' } %>
	<li>
		<a href="#"><span class="show_closed_details" id="closed_details">More</span></a>
	</li>
<% end %>

<%= f.inputs :class => 'closed_details', :id => 'xclosed_details' do %>
	<%= f.input :work_fax, :as => :string %>
	<%= f.input :work_address, :as => :text, :wrapper_html => { :class => 'address' } %>
	<%= f.input :work_city, :wrapper_html => { :class => 'half' } %>
	<%= f.input :work_state, :wrapper_html => { :class => 'half' } %>
	<%= f.input :work_postal_code, :wrapper_html => { :class => 'half' } %>
	<%= f.input :work_country_name, :as => :select, :collection => M2m::Currency.order('fccountry'), :member_label => 'country_name', :member_value => 'country_name' %>
<% end %>

<%= f.buttons do %>
  <%= f.commit_button %>
  <%= f.cancel_link %>
<% end %>

<% if @customer.errors.size > 0 %>
<% content_for :javascripts do %>
<script type="text/javascript">
$(function() {
	$("#closed_details").trigger('click');
})
</script>
<% end %>
<% end %>
