<h2><%= @customer.name %></h2>

<% if primary = @customer.contacts.primary.first %>
<p>
	Primary Contact: <%= primary.name %> <%= primary.email %> <%= primary.phone_number_array.join(', ') %>
</p>
<% end %>

<div class="submenu">
	<ul>
		<li class="<%= menu_selected(:controller => :customers, :action => :show) %>">
			<%= link_to 'Summary', customer_url(@customer) %>
		</li>
		<li class="<%= menu_selected(:parent => :customers, :controller => :quotes) %>">
			<%= link_to 'Quotes', customer_quotes_url(@customer) %>
		</li>
		<li class="<%= menu_selected(:parent => :customers, :controller => :sales_orders) %>">
			<%= link_to 'Sales Orders', customer_sales_orders_url(@customer) %>
		</li>
		<li class="<%= menu_selected(:parent => :customers, :controller => :contacts) %>">
			<%= link_to 'Contacts', customer_contacts_url(@customer) %>
		</li>
	</ul>
</div>


