<% content_for :javascripts do %>
<script type="text/javascript">
$(function() {
	$("input#search_fcompany").autocomplete({
  	source: <%= @customer_names.to_json %>
	});
})
</script>
<% end %>

<% semantic_form_for :search, @search, :url => customers_path, :html => {:method => :get} do |f| %>
<table class="flatform">
	<tbody>
		<tr>
			<td>
				<% f.inputs do %>
				  <%= f.input :fcompany, :label => 'Name' %>
				<% end %>
			</td>
			<td>				
			  <% f.buttons do %>
				  <%= f.commit_button 'Search' %>
				<% end %>
			</td>
		</tr>
	</tbody>
</table>			
<% end %>

<% if @customers %>
<% if @customers.size > 0 %>
<%= will_paginate @customers %>
<div class="searchresults">
<%= render 'list' %>
</div>
<% else %>
<h3>No matches</h3>
<% end %>
<% end %>
