<% content_for :javascripts do %>
<script type="text/javascript">
$(function() {
	new_company_matcher = /^Create New: (.+)$/;
	$("input#search_fcompany").autocomplete({
		source: "<%= customers_url(:new_prompt => 1) %>",
		select: function(event, ui) { 
			$("#inprogress").show();
			var matches = ui.item.value.match(new_company_matcher);
			if (matches && (matches.length > 1)) {
				window.location.href = "<%= new_customer_url %>?m2m_customer[fcompany]=" + matches[1];
			}	else {
				$(this).val( ui.item.value ); 
				$("form.search").submit(); 				
			}
			return false; 
		}
	});
})
</script>
<% end %>

<%= semantic_form_for @search, :as => :search, :url => customers_path, :html => {:method => :get} do |f| %>
<table class="flatform">
	<tbody>
		<tr>
			<td>
				<%= f.inputs do %>
				  <%= f.input :fcompany, :label => 'Name' %>
				<% end %>
			</td>
			<td>
				<div id="inprogress" class="hide">
				<%= image_tag 'inprogress.gif' %>
				</span>
			  <%# f.buttons do %>
				  <%#= f.commit_button 'Search' %>
				<%# end %>
			</td>
		</tr>
	</tbody>
</table>			
<% end %>

<% if @customers %>
<% if @customers.size > 0 %>
<%= will_paginate @customers %>
<div class="searchresults">
<%= render 'list' %>
</div>
<% else %>
<h3>No matches</h3>
<% end %>
<% end %>
