
<% if @previous_customer or @next_customer %>
<div class="paging">
	<%= link_to('&laquo; ' +  @previous_customer.name, customer_url(@previous_customer)) if @previous_customer %>
	<%= link_to 'Customers', customers_url %>
	<%= link_to(@next_customer.name + ' &raquo;', customer_url(@next_customer)) if @next_customer %>
</div>
<% end %>

<%= render 'customers/summary' %>

<% if @sales_orders.size > 0 %>
<div id="sales_orders">
	<%= render 'customers/sales_orders/list'%>
</div>
<% end %>

<% if @quotes.size > 0 %>
<div id="quotes">
	<%= render 'customers/quotes/list' %>
</div>
<% end %>