
<div class="paging">
	<%= link_to('&laquo; ' +  @previous_customer.name, customer_url(@previous_customer.fcustno)) if @previous_customer %>
	<%= link_to 'Customers', customers_url %>
	<%= link_to(@next_customer.name + ' &raquo;', customer_url(@next_customer.fcustno)) if @next_customer %>
</div>

<p>
	Customer Number: <%= @customer.fcustno %><br />
	Company Name: <strong><%= @customer.name %></strong><br />
</p>

<table class="data">
	<thead>
		<tr>
			<th>Sales Order</th>
			<th>Due Date</th>
			<th>LXD Part No.</th>
			<th>Description</th>
			<th>Cust Part No.</th>
			<th>Cost</th>
			<th>Unit Price</th>
			<th>Quantity</th>
			<th>Total Price</th>
		</tr>
	</thead>
	<tbody>
	<% @customer.sales_orders.by_order_number_desc.all(:include => :releases).each do |so| %>
		<% releases = so.releases.all.sort_by(&:due_date) %>
		<% so_style = cycle('odd', 'even') %>
		<tr class="<%= so_style %>">
			<td rowspan="<%= releases.size %>">
				<%= so.forderdate.to_s(:sales_date) %><br />
				<%= link_to so.fsono, sales_order_url(so.fsono) %><br />
				Sold By: <%= so.fsoldby %><br />
				Coord: <%= so.fsocoord %><br />
				Status: <%= so.fstatus %><br />
			</td>
			<% releases.each do |r| %>
			<% unless r == releases.first %>
		<tr class="<%= so_style %>">
			<% end %>
			<td><%= r.due_date.to_s(:sales_date) %></td>
			<td><%= r.fpartno %></td>
			<td><%= simple_format r.item.fdesc.strip %></td>
			<td><%= r.item.fcustpart %></td>
			<td>$<%= cm r.item.item.total_cost, :dollars %></td>
			<td>$<%= cm r.unit_price, :dollars %></td>
			<td><%= cm(r.quantity, :sales_order_quantity) %></td>
			<td>$<%= cm r.total_price, :dollars %></td>
		</tr>			
		<% end %>
	<% end %>
	</tbody>
</table>

<table class="data">
	<thead>
		<tr>
			<th>Quote</th>
			<th>LXD Part No.</th>
			<th>Description</th>
			<th>Quantity</th>
			<th>Cust Part No.</th>
			<th>Cost</th>
			<th>Unit Price</th>
			<th>Total Price</th>
			<th>Sales Order</th>
		</tr>
	</thead>
	<tbody>
	<% @customer.quotes.by_quote_number_desc.all(:include => :items).each do |q| %>
		<% so_style = cycle('odd', 'even') %>
		<tr class="<%= so_style %>">
			<td rowspan="<%= q.items.size %>">
				<%= q.fquotedate.to_s(:sales_date) %><br />
				<%= link_to q.fquoteno, quote_url(q) %><br />
				Terms: <%= q.terms.try(:name) %><br />
				Estimator: <%= q.festimator %><br />
				Discount: <%= percent0 q.discount_rate %>%<br />
			</td>
			<% q.items.each do |item| %>
			<% unless item == q.items.first %>
		<tr class="<%= so_style %>">
			<% end %>
			<td><%= item.fpartno %></td>
			<td><%= simple_format item.fdesc.strip %></td>
			<td><%= cm item.quantity, :sales_order_quantity %></td>
			<td><%= item.fcustpart %></td>
			<td>$<%= cm item.item.try(:total_cost), :dollars %></td>
			<td>$<%= cm item.unit_price, :dollars %></td>
			<td>$<%= cm (item.unit_price * item.quantity), :dollars %></td>
			<td><%= link_to item.sales_order_number, sales_order_url(item.fsono) %></td>
		</tr>			
		<% end %>
	<% end %>
	</tbody>
</table>
