<table class="data">
	<tbody>
		<% jobs.each do |j| %>
		<tr>
			<th rowspan="2">
				Job: <%= j.job_number %><br />
				<%= j.status %>: <%= j.status_date.try(:to_s, :job_date) %><br />
				Quantity: <%= cm j.quantity, :job_quantity %>
			</th>
			<% j.detail_routings.each do |dr| %>
			<th>
				<%= dr.cached_work_center.short_name %>
			</th>
			<% end %>
		</tr>
		<tr>
		<% j.detail_routings.each do |dr| %>
			<td>
				<%= dr.percentage_complete %>%<br />
				<%= cm dr.quantity_complete, :job_quantity, 0 %>
			</td>
		<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
