<% content_for :javascripts do %>
<script type="text/javascript">
$(function() {
	$("input#sales_opportunity_customer_name").autocomplete({
		source: "<%= sales_customers_url %>",
		search: function(event, ui) { 
			$("input#sales_opportunity_customer_name").autocomplete("close");
			$("#customer_inprogress").show();
		},
		open: function(event, ui) { 
			$("#customer_inprogress").hide();
		},
		select: function(event, ui) { 
			if (ui.item.value == "No Results") {
				$(this).val( "" ); 
				// Do nothing.
			}	else {
				$(this).val( ui.item.value ); 
			}
			return false; 
		}		
	});
	
	$("#sales_opportunity_create_customer").change(function() {
		if ($(this).is(":checked")) {
			turn_on_fields(".customer_field");
		} else {
			turn_off_fields(".customer_field");
		}
	}).trigger('change');
})
</script>
<% end %>

<%= f.semantic_errors :base %>

<%= f.inputs do %>
	<li class="flat string input optional stringish" id="sales_opportunity_customer_name_input">
		<label class=" label" for="sales_opportunity_customer_name"><%= Sales::CommissionRate.human_attribute_name(:customer_name) %></label>
		<%= f.text_field :customer_name %>
		<span id="customer_inprogress" class="hide">
		<%= image_tag AppConfig.in_progress_image %>
		</span>
	</li>
	<%= f.input :owner, :collection => User.active.by_name %>
<% end %>
<% if @opportunity.new_record? and @opportunity.sales_customer.new_record? %>
	<%= f.inputs :class => 'opportunity_customer' do %>
		<%= f.input :create_customer, :as => :boolean %>
		<%= f.fields_for :sales_customer do |c| %>
			<%= c.input :location, :wrapper_html => { :class => 'customer_field', :id => 'sales_customer_location_input' } %>
			<%= c.input :sales_territory, :wrapper_html => { :class => 'customer_field' }, :member_label => :rep_and_description, :collection => Sales::Territory.by_name %>
			<%= c.input :business_type, :collection => Sales::BusinessType.by_name, :wrapper_html => { :class => 'customer_field' } %>
			<%= c.input :website, :as => :string, :wrapper_html => { :class => 'customer_field' } %>
			<%= c.input :lead_level, :collection => Sales::LeadLevel.all, :include_blank => false, :wrapper_html => { :class => 'customer_field' } %>
			<%= c.input :rep_status, :collection => Sales::RepStatus.all, :include_blank => false, :wrapper_html => { :class => 'customer_field' } %>
			<%= c.input :notes, :wrapper_html => { :class => 'medium_textarea customer_field' } %>
		<% end %>
	<% end %>
<% end %>
<%= f.inputs :class => 'horizontal' do %>
	<%= f.input :start_date, :as => :calendar %>
	<% if action_name == 'edit' %>
	<%= f.input :end_date, :as => :calendar %>
	<% end %>
<% end %>
<%= f.inputs do %>
	<%= f.input :amount %>
	<%= f.input :source, :collection => Sales::OpportunitySource.all %>
  <%#= f.input :sales_person, :collection => M2m::SalesPerson.by_name.all %> 
	<%= f.input :sales_person_name %>
	<%= f.input :product %>
	<%= f.input :title %>
	<%= f.input :body %>
<% end %>

<%= set_focus('#sales_opportunity_customer_name') %>
