<% title 'Edit Opportunity' %>
<% content_for :javascripts, javascript_include_tag('inplace.js') %>

<%= render 'sales/opportunities/submenu' %>
<br />

<%= semantic_form_for @opportunity, :url => opportunity_url(@opportunity) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
	<% if permitted_to? :delete_permanently %>
	<%= f.inputs do %>
		<%= f.input :delete_permanently, :as => :boolean, :wrapper_html => { :class => 'deletastic_param' } %>
	<% end %>
	<% end %>
	<%= f.actions do %>
	  <%= f.action :submit %>
	  <%= f.cancel_link :url => opportunity_url(@opportunity) %>
		<li class="deletastic_container">
			<%= link_to 'Delete', '#', :class => 'deletastic_delete_link' %>
			<div class="deletastic_confirmation">
				Are you sure?
				<%= link_to 'Delete', '#', :class => 'deletastic_boom' %>
				<br />
				<%= link_to 'Cancel', '#', :class => 'deletastic_delete_cancel_link' %>
			</div>
		</li>
	<% end %>
<% end %>

