<% title 'Opportunities' %>

<%= render 'sales/opportunities/submenu' %>

<% content_for :javascripts do %>
<script type="text/javascript">
$(function() {
	$("input#search_customer_name").autocomplete({
		source: "<%= sales_customers_url %>",
		search: function(event, ui) { 
			$("input#search_customer_name").autocomplete("close");
			$("#customer_inprogress").show();
		},
		open: function(event, ui) { 
			$("#customer_inprogress").hide();
		},
		select: function(event, ui) { 
			if (ui.item.value == "No Results") {
				$(this).val( "" ); 
				// Do nothing.
			}	else {
				$(this).val( ui.item.value ); 
			}
			return false; 
		}		
	});
	$("#search").find('input').click(function(){
		$("#format_xls").attr("disabled", true)
		return true
	});
	$("#export").find('input').click(function(){
		$("#format_xls").attr("disabled", false)
		return true
	});
})
</script>
<% end %>

<%= semantic_form_for @search, :as => :search, :url => opportunities_url, :html => {:method => :get} do |f| %>
<input id="format_xls" value="xls" name="format" type="hidden" disabled="true">
<table class="flatform">
	<tbody>
		<tr>
			<td>
				<%= f.inputs do %>
					<%= f.input :status, :collection => Sales::OpportunityStatus.all, :prompt => 'All', :wrapper_html => { :class => 'opportunity_search_status' } %>
					<%= f.input :sales_territory_id, :collection => Sales::Territory.all.sort_by(&:rep_and_description), :prompt => 'All', :member_label => :rep_and_description %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.inputs do %>
					<li class="flat string input optional stringish" id="sales_opportunity_customer_name_input">
						<label class=" label" for="search_customer_name"><%= Sales::Opportunity.human_attribute_name(:customer_name) %></label>
						<%= f.text_field :customer_name %>
						<span id="customer_inprogress" class="hide">
						<%= image_tag AppConfig.in_progress_image %>
						</span>
					</li>
					<%= f.input :owner, :collection => User.active.by_name %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.buttons do %>
				  <%= f.commit_button 'Search', :wrapper_html => {:id => 'search'} %>
				  <%= f.commit_button 'Export', :wrapper_html => {:id => 'export'} %>
					<li><%= link_to 'New Opportunity', new_opportunity_path %></li>
				<% end %>
			</td>
		</tr>
	</tbody>
</table>
<% end %>

<%= set_focus('#search_company_name') %>

<%= render 'sales/opportunities/list', 
	:show_won => @search.status.try(:won?), 
	:show_hold => @search.status.try(:hold?) %>

