<table class="data">
	<thead>
		<tr>
			<th>Sales Order</th>
			<th>Customer PO #</th>
			<th>Due Date</th>
			<th>Customer</th>
			<th>LXD Part</th>
			<th>Customer Part</th>
			<th>Vendor Part</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
	<% @sales_order_items.each do |i| %>
		<tr>
			<td><%= link_to search_excerpt(i.sales_order.order_number, @search_item.try(:order_number)), sales_order_url(i.sales_order) %></td>
			<td><%= search_excerpt(i.sales_order.customer_po, @search_item.try(:order_number)) %></td>
			<td><%= i.due_date.to_s(:sales_date) %></td>
			<td><%= link_to i.sales_order.customer_name, customer_url(i.sales_order.fcustno) %></td>
			<td><%= link_to search_excerpt(i.item.part_number, @search_item.try(:part_number)), item_url(i.item.part_number) %></td>
			<td><%= search_excerpt(i.customer_part_number, @search_item.try(:part_number)) %></td>
			<td><%= i.item.vendors.map { |v| v.fvpartno.strip }.join(', ') %></td>
			<td><%= h i.item.fdescript %></td>
		</tr>
	<% end %>
	</tbody>
</table>
