<%= render 'sales/opportunities/submenu' %>

<table class="data">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Sales Rep</th>
		</tr>
	</thead>
	<tbody>
		<% @territories.each do |t| %>
		<tr>
			<td><%= t.name %></td>
			<td><%= t.description %></td>
			<td><%= t.sales_rep_name %></td>
			<td>
				<%= link_to 'Edit', edit_sales_territory_url(t) %> | 
				<%= link_to 'Delete', sales_territory_url(t), :method => :delete, :confirm => 'This is permanent! Are you sure?' %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>			

<p>
	<%= link_to 'New Territory', new_sales_territory_url %>
</p>