<%= render 'sales/submenu' %>
<br />

<h2>Open Pro-Forma Sales Orders</h2>
  
<table class="data">
  <thead>
    <tr>
      <th>Sales Order</th>
      <th>Company</th>
      <th>Sales Order Due Date</th>
      <th>Sales Order Total</th>
      <th>Invoice</th>
      <th>Invoice Status</th>
      <th>GL Date</th>
    </tr>
  </thead>
  <tbody>
<% @sales_orders.each do |so| %>
  <% invoices = so.invoices.select { |i| !i.void? and i.invoice_type.pre_payment_memo? } %>
    <% rowspan = invoices.size == 0 ? 1 : invoices.size %>
    <tr>
      <td rowspan="<%= rowspan %>"><%= link_to so.order_number, sales_order_path(so) %></td>
      <td rowspan="<%= rowspan %>"><%= link_to so.customer_name, m2m_customer_number_url(so.fcustno) %></td>
      <td rowspan="<%= rowspan %>"><%= so.due_date.try(:to_s, :sales_date) %></td>
      <td rowspan="<%= rowspan %>"><%= cm so.total_price, :dollars %></td>
  <% if invoices.size == 0 %>
      <td colspan="3"></td>
  <% else %>
    <% invoices.each do |invoice| %>
      <td><%= invoice.invoice_number %></td>
      <td><%= invoice.status_name %></td>
      <td><%= invoice.gl_date.try(:to_s, :invoice_date) %></td>
    </tr>
      <% if invoice != invoices.last %>
    <tr>
      <% end %>
    <% end %>
  <% end %>
<% end %>
  </tbody>
</table>