<% include_closed_details_javascript(image_tag(AppConfig.arrow_collapse_image),image_tag(AppConfig.arrow_expand_image)) %>

<% total_object = nil unless defined?(total_object) %>
<table class="data">
	<thead>
		<tr>
			<th>Part</th>
			<th>Group</th>
			<% unless total_object %>
			<th>Last Customer</th>
			<% end %>
			<th>Last Receipt</th>
			<th>Last Ship</th>
			<th>Next Receipt</th>
			<th>Next Ship</th>
			<% Production::InventoryReportQuantity.all.each do |quantity| %>
			<th><%= quantity.name %></th>
			<% end %>
			<% Production::InventoryMovementData::TTYPES.each do |ttype| %>
			<th><%= ttype.short_name %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% item_reports.each do |item_report| %>
		<tr>
			<td>
				<a href="#<%= item_report.id %>"><span class="show_closed_details" id="closed_details_<%= item_report.m2m_identity_column %>">
				<%= image_tag(AppConfig.arrow_collapse_image) %>
				</span></a>
				<%= link_to item_report.part_number, item_url(item_report.m2m_identity_column) %>
			</td>
			<td><%= item_report.item.short_group_name %></td>
			<% unless total_object %>
			<td>
				<% if item_report.customer_report.try(:m2m_identity_column) %>
				<%= link_to item_report.customer_report.customer_name, m2m_customer_url(item_report.customer_report.m2m_identity_column) %>
				<% end %>
			</td>
			<% end %>
			<td>
				<%= item_report.last_incoming_date.try(:to_s, :report_date) %>
			</td>
			<td>
				<%= item_report.last_outgoing_date.try(:to_s, :report_date) %>
				<% if item_report.last_sales_order_release %>
				<div class="closed_details xclosed_details_<%= item_report.m2m_identity_column %>">
					<%= link_to "SO #{item_report.last_sales_order_release.sales_order_number}", sales_order_url(item_report.last_sales_order_release.sales_order_number) %>
					<% if item_report.part_number != item_report.last_sales_order_release.part_number %>
					<br />as <%= link_to item_report.last_sales_order_release.item.part_number, item_url(item_report.last_sales_order_release.item) %>
					<% end %>
				</div>
				<% end %>
			</td>
			<td><%= item_report.next_incoming_date.try(:to_s, :report_date) %></td>
			<td>
				<%= item_report.next_outgoing_date.try(:to_s, :report_date) %>
				<% if item_report.next_sales_order_release %>
				<div class="closed_details xclosed_details_<%= item_report.m2m_identity_column %>">
					<%= link_to "SO #{item_report.next_sales_order_release.sales_order_number}", sales_order_url(item_report.next_sales_order_release.sales_order_number) %>
					<% if item_report.part_number != item_report.next_sales_order_release.part_number %>
					<br />as <%= link_to item_report.next_sales_order_release.item.part_number, item_url(item_report.next_sales_order_release.item) %>
					<% end %>
				</div>
				<% end %>
			</td>
			<% Production::InventoryReportQuantity.all.each do |quantity| %>
			<td class="right">
				<%= cm item_report.send(quantity.total_cost_key), :rounded_dollars %>
				<div class="closed_details xclosed_details_<%= item_report.m2m_identity_column %>">
					<%= cm item_report.send(quantity.quantity_key), :item_quantity %>
				</div>
			</td>
			<% end %>
			<% Production::InventoryMovementData::TTYPES.each do |ttype| %>
			<td class="right">
				<%= cm item_report.movements.cost_for(ttype), :rounded_dollars %>
				<div class="closed_details xclosed_details_<%= item_report.m2m_identity_column %>">
					<%= cm item_report.movements.quantity_for(ttype), :item_quantity %>
				</div>
			</td>
			<% end %>
		</tr>
		<% end %>
		<% if total_object %>
		<tr>
			<td class="right" colspan="6" class="right">Total</td>
			<% Production::InventoryReportQuantity.all.each do |quantity| %>
			<th class="right"><%= cm total_object.send(quantity.total_cost_key), :rounded_dollars %></th>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
