<% include_toggle_javascript('report_details', image_tag(AppConfig.arrow_collapse_image),image_tag(AppConfig.arrow_expand_image)) %>

<table class="data">
	<thead>
		<tr>
			<th></th>
			<% reports.time_periods.each do |time_period| %>
				<th>
					<% if reports.period == :month %>
					<%= time_period.to_s(:month_year) %>
					<% elsif reports.period == :year %>
					<%= time_period.year %>
					<% else %>
					Week of <%= time_period.strftime('%b %d') %>
					<% end %>
				</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% reports.territory_reports.each do |territory_report| %>
		<tr>
			<td><%= territory_report.name %></td>
			<% territory_report.opportunity_buckets.each do |opportunity_bucket| %>
				<td class="split_results">
					<% if opportunity_bucket.total_quoted_opportunities > 0 %>
						<% opportunity_bucket.sorted_sources.each do |source_bucket| %>
							<span class="left">
								<%= cm source_bucket.total_quoted_opportunities %> - <%= source_bucket.name %>
							</span>
							<span class="right"><%= cm source_bucket.total_value, :rounded_dollars %></span>
							<br />
						<% end %>
					<% end %>
				</td>
			<% end %>
		</tr>
		<% end %>
		<% if reports.homeless_report.has_opportunities? %>
		<tr>
			<td>
				<a href="#homeless_<%= reports.period %>" class="report_details" id="report_details_homeless_<%= reports.period %>">
					<span class="replace_report_details_homeless_<%= reports.period %>"><%= image_tag(AppConfig.arrow_collapse_image) %></span>
					Homeless
				</a>
			</td>
			<% reports.homeless_report.opportunity_buckets.each do |opportunity_bucket| %>
				<td class="split_results">
					<% if opportunity_bucket.total_quoted_opportunities > 0 %>
						<% opportunity_bucket.sorted_sources.each do |source_bucket| %>
							<span class="left">
								<%= cm source_bucket.total_quoted_opportunities %> - <%= source_bucket.name %>
							</span>
							<span class="right"><%= cm source_bucket.total_value, :rounded_dollars %></span>
							<br />
						<% end %>
					<% end %>
				</td>
			<% end %>
		</tr>
		<tr class="hide" id="xreport_details_homeless_<%= reports.period %>">
			<td colspan="<%= reports.territory_reports.size + 1 %>">
				<ul>
					<% reports.homeless_report.opportunities.each do |opportunity| %>
						<li><%= opportunity.xnumber %> - <%= link_to opportunity.safe_title, opportunity_url(opportunity) %></li>
					<% end %>
				</ul>
			</td>
		</tr>
		<% end %>
		<tr>
			<th>Totals</th>
			<% reports.total_report.opportunity_buckets.each do |opportunity_bucket| %>
				<th>
					<% if opportunity_bucket.total_quoted_opportunities > 0 %>
						<% opportunity_bucket.sorted_sources.each do |source_bucket| %>
							<span class="left">
								<%= cm source_bucket.total_quoted_opportunities %> - <%= source_bucket.name %>
							</span>
							<span class="right"><%= cm source_bucket.total_value, :rounded_dollars %></span>
							<br />
						<% end %>
						<% if opportunity_bucket.sources.size > 1 %>
						<hr />
						<span class="left"><%= cm opportunity_bucket.total_quoted_opportunities %> - Total</span>
						<span class="right"><%= cm opportunity_bucket.total_value, :rounded_dollars %></span>
						<% end %>
					<% end %>
				</th>
			<% end %>
		</tr>			
		
		<tr class="opportunity_spacer">
			<td colspan="<%= reports.territory_reports.size + 1 %>">
			</td>
		</tr>
		
		<% reports.owner_reports.each do |owner_report| %>
		<tr>
			<td><%= owner_report.name %></td>
			<% owner_report.opportunity_buckets.each do |opportunity_bucket| %>
				<td>
					<% if opportunity_bucket.total_quoted_opportunities > 0 %>
						<% opportunity_bucket.sorted_sources.each do |source_bucket| %>
							<span class="left">
								<%= cm source_bucket.total_quoted_opportunities %> - <%= source_bucket.name %>
							</span>
							<span class="right"><%= cm source_bucket.total_value, :rounded_dollars %></span>
							<br />
						<% end %>
					<% end %>
				</td>
			<% end %>
		</tr>
		<% end %>
		<% if reports.ownerless_report.has_opportunities? %>
		<tr>
			<td>
				<a href="#ownerless" class="report_details" id="report_details_ownerless_<%= reports.period %>">
					<span class="replace_report_details_ownerless_<%= reports.period %>"><%= image_tag(AppConfig.arrow_collapse_image) %></span>
					Ownerless
				</a>
			</td>
			<% reports.ownerless_report.opportunity_buckets.each do |opportunity_bucket| %>
				<td>
					<% if opportunity_bucket.total_quoted_opportunities > 0 %>
						<% opportunity_bucket.sorted_sources.each do |source_bucket| %>
							<span class="left">
								<%= cm source_bucket.total_quoted_opportunities %> - <%= source_bucket.name %>
							</span>
							<span class="right"><%= cm source_bucket.total_value, :rounded_dollars %></span>
							<br />
						<% end %>
					<% end %>
				</td>
			<% end %>
		</tr>
		<tr class="hide" id="xreport_details_ownerless_<%= reports.period %>">
			<td colspan="<%= reports.territory_reports.size + 1 %>">
				<ul>
					<% reports.ownerless_report.opportunities.each do |opportunity| %>
						<li><%= opportunity.xnumber %> - <%= link_to opportunity.safe_title, opportunity_url(opportunity) %></li>
					<% end %>
				</ul>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>