<table class="data">
	<thead>
		<tr>
			<th></th>
			<% time_period = reports.time_periods.last %>
			<th colspan="3">
				<% if reports.period == :month %>
				<%= time_period.to_s(:month_year) %>
				<% elsif reports.period == :year %>
				<%= time_period.year %>
				<% else %>
				Week of <%= time_period.strftime('%b %d') %>
				<% end %>
			</th>
		</tr>
	</thead>
	<tbody>
		<% reports.territory_reports.sort_by { |r| r.opportunity_buckets.last.total_quoted_opportunities }.reverse.each do |territory_report| %>
			<% opportunity_bucket = territory_report.opportunity_buckets.last %>
			<% next unless opportunity_bucket.total_quoted_opportunities > 0 %>
			<% opportunity_bucket.sorted_sources.each do |source_bucket| %>
				<tr>
					<% if source_bucket == opportunity_bucket.sorted_sources.first %>
						<td rowspan="<%= opportunity_bucket.sorted_sources.size %>">
							<%= limit_string territory_report.name, 16 %>
						</td>
					<% end %>
					<td><%= cm source_bucket.total_quoted_opportunities %> - <%= source_bucket.name %></td>
					<td class="right"><%= cm source_bucket.total_sales_orders, :rounded_dollars %></td>
					<td class="right"><%= cm source_bucket.total_value, :rounded_dollars %></td>
				</tr>
			<% end %>
		<% end %>
		<% opportunity_bucket = reports.total_report.opportunity_buckets.last %>
		<% opportunity_bucket.sorted_sources.each do |source_bucket| %>
			<tr>
				<% if source_bucket == opportunity_bucket.sorted_sources.first %>
					<th rowspan="<%= opportunity_bucket.sorted_sources.size + 1 %>">
						Totals
					</th>
				<% end %>
				<th><%= cm source_bucket.total_quoted_opportunities %> - <%= source_bucket.name %></th>
				<th class="right"><%= cm source_bucket.total_sales_orders, :rounded_dollars %></th>
				<th class="right"><%= cm source_bucket.total_value, :rounded_dollars %></th>
			</tr>
		<% end %>
		<% if opportunity_bucket.sources.size > 1 %>
			<tr>
				<th><%= cm opportunity_bucket.total_quoted_opportunities %> - Total</th>
				<th class="right"><%= cm opportunity_bucket.total_sales_orders, :rounded_dollars %></th>
				<th class="right"><%= cm opportunity_bucket.total_value, :rounded_dollars %></th>
			</tr>
		<% end %>
		
		<tr class="opportunity_spacer">
			<td colspan="<%= reports.territory_reports.size + 1 %>">
			</td>
		</tr>
		
		<% reports.owner_reports.sort_by { |r| r.opportunity_buckets.last.total_quoted_opportunities }.reverse.each do |owner_report| %>
			<% opportunity_bucket = owner_report.opportunity_buckets.last %>
			<% next unless opportunity_bucket.total_quoted_opportunities > 0 %>
			<% opportunity_bucket.sorted_sources.each do |source_bucket| %>
				<tr>
				<% if source_bucket == opportunity_bucket.sorted_sources.first %>
					<td rowspan="<%= opportunity_bucket.sorted_sources.size %>"><%= owner_report.name %></td>
				<% end %>
					<td><%= cm source_bucket.total_quoted_opportunities %> - <%= source_bucket.name %></td>
					<td class="right"><%= cm source_bucket.total_sales_orders, :rounded_dollars %></td>
					<td class="right"><%= cm source_bucket.total_value, :rounded_dollars %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>