<table class="data">
	<thead>
		<tr>
			<th><%= CompanyConfig.short_name %> Part</th>
			<th>Rev</th>
			<th>Cur</th>
			<th>Vendor Part</th>
			<th>Description</th>
			<th>Bin</th>
			<th>On Hand</th>
			<th>Committed</th>
			<th>Available</th>
			<th>On Order</th>
		</tr>
	</thead>
	<tbody>
	<% items.each do |i| %>
		<tr>
			<td><%= link_to @search.present? ? search_excerpt(i.part_number, @search.try(:fpartno)) : i.part_number, item_url(i) %></td>
			<td><%= i.revision %></td>
			<td><%= i.is_current? ? 'X' : '' %></td>
			<td><%= i.vendors.map { |v| search_excerpt(v.fvpartno.strip, @search.try(:fpartno)) }.join(', ') %></td>
			<td><%= h i.fdescript %></td>
			<td><%= render 'items/locations', :item => i %></td>
			<td class="right"><%= cm i.quantity_on_hand, :item_quantity, 0 %></td>
			<td class="right"><%= cm i.quantity_committed, :item_quantity, 0 %></td>
			<td class="right"><%= cm i.quantity_available, :item_quantity %></td>
			<td class="right"><%= cm i.quantity_on_order, :item_quantity, 0 %></td>
		</tr>
	<% end %>
	</tbody>
</table>
