<% title @item.part_number_and_revision %>
<h1>
  <%= M2m::Item.model_name.human %>: 
  <%= item_part_number(@item) %> 
  <%= "Rev #{@item.revision}" if AppConfig.use_item_revisions? and @item.revision.present? %>
</h1>

<div class="submenu">
  <ul>
    <li class="<%= menu_selected :item_summary %>">
      <%= link_to 'Summary', item_url(@item) %>
    </li>

    <li class="<%= menu_selected :item_history %>">
      <%= link_to 'History', item_history_url(@item) %>
    </li>

    <li class="<%= menu_selected :item_jobs %>">
      <%= link_to 'Jobs', item_jobs_url(@item) %>
    </li>

    <li class="<%= menu_selected :item_shippers %>">
      <%= link_to 'Shippers', item_shippers_url(@item) %>
    </li>

    <li class="<%= menu_selected :item_sales_order_releases %>">
      <%= link_to 'Sales Orders', item_sales_order_releases_url(@item) %>
    </li>

    <li class="<%= menu_selected :item_m2m_quote_items %>">
      <%= link_to 'Quotes', item_m2m_quote_items_url(@item) %>
    </li>

    <li class="<%= menu_selected :item_purchase_order_items %>">
      <%= link_to 'Purchase Orders', item_purchase_order_items_url(@item) %>
    </li>

    <li class="<%= menu_selected :item_boms %>">
      <%= link_to 'BOMS', item_boms_url(@item) %>
    </li>
  </ul>
</div>
