<h1>
	<%= M2m::Item.model_name.human %>: 
	<%= @item.part_number %> 
	<%= "Rev #{@item.revision}" if CompanyConfig.use_item_revisions? and @item.revision.present? %>
</h1>

<div class="submenu">
	<ul>
		<li class="<%= menu_selected(:controller => :items, :action => :show) %>">
			<%= link_to 'Summary', item_url(@item) %>
		</li>

		<li class="<%= menu_selected(:parent => :items, :controller => :history) %>">
			<%= link_to 'History', item_history_url(@item) %>
		</li>

		<li class="<%= menu_selected(:parent => :items, :controller => :jobs) %>">
			<%= link_to 'Jobs', item_jobs_url(@item) %>
		</li>

		<li class="<%= menu_selected(:parent => :items, :controller => :shippers) %>">
			<%= link_to 'Shippers', item_shippers_url(@item) %>
		</li>

		<li class="<%= menu_selected(:parent => :items, :controller => :sales_order_releases) %>">
			<%= link_to 'Sales Orders', item_sales_order_releases_url(@item) %>
		</li>

		<li class="<%= menu_selected(:parent => :items, :controller => :quote_items) %>">
			<%= link_to 'Quotes', item_quote_items_url(@item) %>
		</li>

		<li class="<%= menu_selected(:parent => :items, :controller => :purchase_order_items) %>">
			<%= link_to 'Purchase Orders', item_purchase_order_items_url(@item) %>
		</li>

		<li class="<%= menu_selected(:parent => :items, :controller => :boms) %>">
			<%= link_to 'BOMS', item_boms_url(@item) %>
		</li>
	</ul>
</div>

<%= render 'items/list', :items => @item.revisions.sort_by { |i| [i.is_current? ? 1 : 0, i.revision]}.reverse %>
