<h1><%= M2m::Item.human_name %>: <%= @item.part_number %></h1>

<div class="submenu">
	<ul>
		<li class="<%= controller_selected(:items, :show) %>">
			<%= link_to 'Summary', item_url(@item.part_number) %>
		</li>

		<li class="<%= controller_selected('jobs') %>">
			<%= link_to 'Jobs', item_jobs_url(@item.part_number) %>
		</li>

		<li class="<%= controller_selected('shippers') %>">
			<%= link_to 'Shippers', item_shippers_url(@item.part_number) %>
		</li>
	</ul>
</div>

<%= render 'items/list' %>
