<%= semantic_form_for @search, :as => 'search', :url => items_path, :html => {:method => :get} do |f| %>
	<%= f.inputs do %>
	  <%= f.input :fpartno, :label => M2m::Item.human_attribute_name(:fpartno) %>
	<% end %>
  <%= f.actions do %>
	  <%= f.action :submit, :label => 'Search' %>
	<% end %>
<% end %>

<%= set_focus('#search_fpartno') %>

<% if @items %>
<% if @items.size > 0 %>
<%= will_paginate @items %>
<%= render 'list', :items => @items %>
<% else %>
<h3>No matches</h3>
<% end %>
<% end %>