<% content_for :javascripts do %>
<script type="text/javascript">
$(function() {
	ajax_link('#shippers');
});
</script>
<% end %>

<%= render 'summary' %>

<h3>Material Availability</h3>
<%= render 'items/availability/show' %>

<h3>Purchase Orders:</h3>
<div id="purchase_order_items">
	<%= render 'items/purchase_order_items/list' %>
</div>

<h3>Sales Orders</h3>
<div id="sales_order_releases">
	<%= render 'items/sales_order_releases/list' %>
</div>

<% if @quote_items.size > 0 %>
<h3>Quotes:</h3>
<div id="quote_items">
<%= render 'items/quote_items/list' %>
</div>
<% end %>

<h3>Shippers</h3>
<div id="shippers">
	<p>
	<% if @shippers_count == 0 %>
	No Shippers
	<% else %>
	<%= link_to "Show #{[@shippers_count, 5].min} of #{cm @shippers_count} Shippers", item_shippers_url(@item.part_number, :limit => 5), :class => 'ajax_link' %>	
	<% end %>
	</p>
</div>
