
<h3><%= @item.fpartno %></h3>

<% @items = [@item] %>
<%= render 'list' %>

<h3>Material Availability</h3>
<%= render 'material_availability_reports/show' %>

<h3>Purchase Orders:</h3>
<%= render 'purchase_order_items/list' %>

<% if @item.quote_items.size > 0 %>
<h3>Quotes:</h3>
<%= render 'quote_items/list', :quote_items => @item.quote_items, :show_quotes => true %>
<% end %>

<% if @shippers.size > 0 %>
<h3>Shippers</h3>
<%= render 'shippers/list' %>
<% end %>