<% content_for :javascripts do %>
<script type="text/javascript">
$(function() {
	new_company_matcher = /^Create New: (.+)$/;
	$("input#search_fcompany").autocomplete({
		source: "<%= m2m_customers_url(:new_prompt => 0) %>",
		search: function(event, ui) {
			$("input#search_fcompany").autocomplete("close");
			$("#inprogress").show();
		},
		open: function(event, ui) { 
			$("#inprogress").hide();
		},
		select: function(event, ui) { 
			$("#inprogress").show();
			var matches = ui.item.value.match(new_company_matcher);
			if (matches && (matches.length > 1)) {
				window.location.href = "<%= new_m2m_customer_url %>?m2m_customer[fcompany]=" + matches[1];
			}	else {
				$(this).val( ui.item.value ); 
				$("form.search").submit(); 				
			}
			return false; 
		}
	});
})
</script>
<% end %>

<%= render 'submenu' %>

<%= semantic_form_for @search, :as => :search, :url => m2m_customers_path, :html => {:method => :get} do |f| %>
<table class="flatform">
	<tbody>
		<tr>
			<td>
				<%= f.inputs do %>
				  <%= f.input :fcompany, :label => 'Name', :as => :string %>
				<% end %>
			</td>
			<td>
				<div id="inprogress" class="hide">
				<%= image_tag AppConfig.in_progress_image %>
				</div>
			  <%# f.actions do %>
				  <%#= f.action :submit, :label => 'Search' %>
				<%# end %>
			</td>
		</tr>
	</tbody>
</table>			
<% end %>

<%= set_focus('#search_fcompany') %>

<% if @customers %>
<% if @customers.size > 0 %>
<%= will_paginate @customers %>
<div class="searchresults">
	<ul>
	<% @customers.each do |c| %>
		<li><%= link_to c.name, m2m_customer_number_url(c.fcustno) %></li>
	<% end %>
	</ul>
</div>
<% else %>
<h3>No matches</h3>
<% end %>
<% end %>
