<div class="submenu">
	<ul>
		<% if permitted_to?(:read, :shipping_shipping_dashboard) %>
		<li class="<%= menu_selected(:controller => :shipping_dashboard) %>">
			<%= link_to 'Shipping Home', shipping_url %>
		</li>
		<% end %>
		<% if permitted_to?(:read, :shipping_shippers) %>
		<li class="<%= menu_selected(:controller => :shippers) %>">
			<%= link_to 'Shippers', shippers_url %>
		</li>
		<% end %>
		<% if permitted_to?(:read, :shipping_receivers) %>
		<li class="<%= menu_selected(:controller => :receivers) %>">
			<%= link_to 'Receivers', receivers_url %>
		</li>
		<% end %>
	</ul>
</div>