<table class="details">
	<thead>
		<tr>
			<th>RMA Number</th>
			<th>Status</th>
			<th>Category</th>
			<th>Date</th>
			<th>Qty</th>
			<th>Customer</th>
			<th>Part</th>
			<th>Inquiry</th>
			<th>SO</th>
		</tr>
	</thead>
	<tbody>
<% rmas.sort_by(&:date).each do |rma| %>
		<tr>
			<td><%= link_to rma.company_rma_number, customer_service_log_url(rma) %></td>
			<td><%= rma.status.name %></td>
			<td><%= rma.category_name %></td>
			<td><%= rma.date.to_s(:rma_date) %></td>
			<td class="right"><%= cm rma.quantity, :rma_quantity %></td>
			<td><%= link_to rma.customer_name, customer_url(rma.customer_number) %></td>
			<td><%= link_to rma.part_number, item_url(rma.item.part_number) if rma.item.present? %></td>
			<td class="fixed_width_text"><%= h simple_format(rma.inquiry.strip) %></td>
			<td><%= link_to rma.sales_order_number, sales_order_url(rma.sales_order_number) if rma.sales_order_number.present? %></td>
		</tr>
<% end %>
	</tbody>
</table>
