<table class="details">
	<thead>
		<tr>
			<th>RMA Number</th>
			<th>Status</th>
			<th>Category</th>
			<th>Date</th>
			<th>Qty</th>
			<th>Customer</th>
			<th>Part</th>
			<th>Inquiry</th>
			<th>SO</th>
		</tr>
	</thead>
	<tbody>
<% rmas.sort_by(&:date).each do |rma| %>
<% rma.items.each do |rma_item| %>
		<tr>
			<td><%= link_to rma.company_rma_number, rma_url(rma.rma_number) %></td>
			<td><%= rma.status.try(:name) %></td>
			<td><%= rma.severity_name %></td>
			<td><%= rma.date.to_s(:rma_date) %></td>
			<td class="right"><%= cm rma_item.quantity, :rma_quantity %></td>
			<td><%= link_to rma.customer.name, customer_url(rma.customer_number) %></td>
			<td><%= link_to_if rma_item.item.present?, rma_item.part_number, item_url(rma_item.part_number) %></td>
			<td class="fixed_width_text"><%= h simple_format(rma_item.reason.strip) %></td>
			<td><%= link_to rma.sales_order_number, sales_order_url(rma.sales_order_number) if rma.sales_order_number.present? %></td>
		</tr>
<% end %>
<% end %>
	</tbody>
</table>
