<% content_for :javascripts do %>
	<script type="text/javascript">
	$(function() {
		$(".closed_details").toggle_visibility('<%= image_tag(AppConfig.arrow_collapse_image) %> Show Details', '<%= image_tag(AppConfig.arrow_expand_image) %> Hide Details');
	});
	</script>
<% end %>
<%= render 'quality/submenu' %>
<br />

<%= render 'quality/year_search', :search_url => new_rma_report_url %>

<table class="data fullsize">
	<thead>
		<tr>
			<th class="fixnum">Date</th>
			<th class="fixtriple">Returned Parts</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
<% count = 0 %>
<% @report.ordered_months.each do |month| %>
	<% count += 1 %>
	<tr>
		<td class="fixnum"><%= month.date.to_s(:month_year) %></td>
		<td class="right fixtriple">
			<%= percent1 month.rma_quantity / month.total_shipments %>%
			(<%= cm month.rma_quantity, :rma_quantity %> / <%= cm month.total_shipments, :rma_quantity %>)
		</td>
		<td>
			<a href="#" class="closed_details" id="closed_details_<%= count %>">
				<span class="replace_closed_details_<%= count %>">
					<%= image_tag(AppConfig.arrow_collapse_image) %>
					Show Details
				</span>
			</a>
		</td>
	</tr>
	<tr class="hide xclosed_details_<%= count %>">
		<td colspan="3">
			<%= render 'rma_details', :rmas => month.rmas.sort_by(&:date) %>
		</td>
	</tr>
<% end %>
	</tbody>
</table>