<% include_closed_details_javascript %>
<%= render 'quality/submenu' %>
<br />

<%= render 'quality/year_search', :search_url => new_rma_report_url %>

<table class="data fullsize">
	<thead>
		<tr>
			<th>Date</th>
			<th>Count</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
<% count = 0 %>
<% @report.ordered_months.each do |month| %>
	<% count += 1 %>
	<tr>
		<td><%= month.date.to_s(:month_year) %></td>
		<td class="right"><%= cm month.total_rmas %></td>
		<td class="rma_details">
			<% if month.total_rmas > 0 %>
			<a href="#"><span class="show_closed_details" id="closed_details_<%= count %>">Show Details</span></a>
			<div class="closed_details" id="xclosed_details_<%= count %>">
			<%= render 'rma_details', :rmas => month.rmas %>
			</div>
			<% end %>
		</td>
	</tr>
<% end %>
</table>