<%= semantic_form_for @search, :as => 'search', :url => sales_backlog_reports_path, :html => {:method => :get} do |f| %>
<table class="flatform">
	<tbody>
		<tr>
			<td>
				<%= f.inputs do %>
				  <%= f.input :due_date, :as => :calendar, :label => 'Due' %>
				<% end %>
			</td>
			<td>
				<%= f.buttons do %>
				  <%= f.commit_button 'View' %>
					<%= f.commit_button 'Print' %>
				<% end %>
			</td>
			<td>
				<%= f.inputs do %>
					<%= f.input :customer_status_id, :as => :select, :collection => M2m::CustomerStatus.all %>
					<%= f.input :fob_group_id, :as => :select, :collection => FobGroup.all %>
				<% end %>
			</td>
		</tr>
	</tbody>
</table>
<% end %>

<%= set_focus('#search_due_date') %>

<% if @search_performed %>
<%= render 'sales_backlog_reports/list' %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag 'jquery.popupWindow.js' %>
<script type="text/javascript">
$(function() {
	$('.jobspopup').popupWindow({ 
		centerScreen:1,
		height:700, 
		width: 400
	}); 
});
</script>
<% end %>