<table class="data">
	<thead>
		<tr>
			<th>Created</th>
			<th>Title</th>
			<th>Type</th>
			<th>Customer / Due Date</th>
			<th>Status</th>
			<th>Ticket Status</th>
			<th>Assigned</th>
			<th>Modified</th>
		</tr>
	</thead>
	<tbody>
		<% inspection_tasks.each do |t| %>
		<tr>
			<td><%= t.created_at.to_s(:short_human_date) %></td>
			<td><%= link_to t.title, inspection_task_url(t) %></td>
			<td>
				<% if t.task_type.rma_inspection? %>
				RMA <%= t.rma_number %>
				<% else %>
				<%= link_to "PO #{t.purchase_order_number}", purchase_order_url(t.purchase_order_number) %>
				<% end %>
			</td>
			<td>
				<% if t.task_type.rma_inspection? %>
				<%= t.rma_customer_name %>
				<% else %>
				<%= t.date_expected.try(:to_s, :short_human_date) %>
				<% end %>
			</td>
			<td><%= t.status %></td>
			<td><%= t.lighthouse_status %></td>
			<td><%= t.lighthouse_last_assigned_user_name %></td>
			<td><%= t.updated_at.to_s(:short_human_date) %></td>
		</tr>
		<% end %>
	</tbody>
</table>