<% title 'New Inspection Task' %>

<%= render 'quality/submenu' %>

<h2>Create New Inspection Task</h2>

<%= semantic_form_for @task, :url => inspection_tasks_url do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>

	<%= f.buttons do %>
	  <%= f.commit_button :label => 'Create Task' %>
	  <%= f.cancel_link %>
	<% end %>

<% end %>
