<div class="submenu">
	<ul>
		<% if permitted_to?(:read, :sales_order_items) %>
		<li class="<%= menu_selected(:controller => :sales_order_items) %>">
			<%= link_to 'Search', sales_order_items_url %>
		</li>
		<% end %>

		<% if permitted_to?(:read, :sales_orders) %>
		<li class="<%= menu_selected(:controller => :sales_orders, :action => :index) %>">
			<%= link_to 'Browse All', sales_orders_url %>
		</li>
		<% end %>

		<% if permitted_to?(:manage, :invoiced_sales_reports) %>
		<li class="<%= menu_selected(:controller => :invoiced_sales_reports_controller) %>">
			<%= link_to 'Invoiced Sales', new_invoiced_sales_report_url %>
		</li>
		<% end %>
	</ul>
</div>