
<div class="paging">
	<%= link_to("&laquo; #{@previous_sales_order.customer_name} &lt;#{@previous_sales_order.order_number}&gt;", sales_order_url(@previous_sales_order.order_number)) if @previous_sales_order %>
	<%= link_to 'Sales Orders', sales_orders_url %>
	<%= link_to("#{@next_sales_order.customer_name} &lt;#{@next_sales_order.order_number}&gt; &raquo;", sales_order_url(@next_sales_order.order_number)) if @next_sales_order  %>
</div>

<p>
	Sales Order: <%= @sales_order.fsono %>
	Customer: <strong><%= link_to @sales_order.customer_name, customer_url(@sales_order.fcustno) %></strong><br />
	Date: <%= @sales_order.forderdate.to_s(:number_date) %><br />
	Sales Rep: <%= @sales_order.fsoldby %><br />
	Coord: <%= @sales_order.fsocoord %><br />
</p>

<table class="data">
	<tbody>
		<thead>
			<tr>
				<th>Due Date</th>
				<th>LXD Part No.</th>
				<th>Description</th>
				<th>Cust Part No.</th>
				<th>Cost</th>
				<th>Unit Price</th>
				<th>Quantity</th>
				<th>Total Price</th>
			</tr>
		</thead>
<% @sales_order.filtered_releases.sort_by(&:due_date).each do |r| %>
		<tr>
			<td><%= r.frelease %> - <%= r.due_date.to_s(:number_date) %></td>
			<td><%= r.fpartno %></td>
			<td><%= simple_format r.item.fdesc.strip %></td>
			<td><%= r.item.fcustpart %></td>
			<td>$<%= cm r.item.item.total_cost, :dollars %></td>
			<td>$<%= cm r.unit_price, :dollars %></td>
			<td><%= cm(r.quantity, :sales_order_quantity) %></td>
			<td>$<%= cm(r.release_price, :dollars) %></td>
		</tr>
<% end %>
	</tbody>
</table>

