
<div class="paging">
	<%= link_to("&laquo; #{@previous_sales_order.customer_name} &lt;#{@previous_sales_order.order_number}&gt;", sales_order_url(@previous_sales_order.order_number)) if @previous_sales_order %>
	<%= link_to 'Sales Orders', sales_orders_url %>
	<%= link_to("#{@next_sales_order.customer_name} &lt;#{@next_sales_order.order_number}&gt; &raquo;", sales_order_url(@next_sales_order.order_number)) if @next_sales_order  %>
</div>

<p>
	Date: <%= @sales_order.order_date.to_s(:sales_date) %><br />
	Sales Order: <%= @sales_order.fsono %><br />
	Status: <%= @sales_order.status %><br />
	Customer: <strong><%= link_to @sales_order.customer_name, customer_url(@sales_order.fcustno) %></strong><br />
	Customer PO#: <%= @sales_order.customer_po %><br />
	Total: $<%= cm @sales_order.total_price, :dollars %><br />
	Sales Rep: <%= @sales_order.fsoldby %><br />
	Coord: <%= @sales_order.fsocoord %><br />
</p>

<table class="data">
	<thead>
		<tr>
			<th>Due Date</th>
			<th><%= CompanyConfig.short_name %> Part No.</th>
			<th>Description</th>
			<th>Cust Part No.</th>
			<th>Cost</th>
			<th>Unit Price</th>
			<th>Quantity</th>
			<th>Total Price</th>
		</tr>
	</thead>
	<tbody>
<% @releases.sort_by(&:due_date).each do |r| %>
		<tr>
			<td><%= r.due_date.to_s(:sales_date) %></td>
			<td><%= link_to r.part_number, item_url(r.part_number) %></td>
			<td><%= simple_format r.item.fdesc.strip %></td>
			<td><%= r.item.fcustpart %></td>
			<td class="monitary">$<%= cm r.item.try(:item).try(:total_cost), :dollars %></td>
			<td class="monitary">$<%= cm r.unit_price, :dollars %></td>
			<td><%= cm(r.quantity, :sales_order_quantity) %></td>
			<td class="monitary">$<%= cm(r.release_price, :dollars) %></td>
		</tr>
<% end %>
	</tbody>
</table>

<% if @shippers.size > 0 %>
<h3>Shippers</h3>
<%= render 'shippers/list' %>
<% end %>
