<div class="nav">    
	<ul>
		<li class="<%= menu_selected(:home) %>">
			<%= link_to 'Home', root_url %>
		</li>
		<% if permitted_to?(:read, :quality_quality_dashboard) %>
		<li class="<%= menu_selected :quality %>">
			<%= link_to 'Quality', quality_url %>
		</li>
		<% end %>
		<% if permitted_to?(:read, :sales_order_items) %>
		<li class="<%= menu_selected :sales %>">
			<%= link_to 'Sales', sales_order_items_url %>
		</li>
		<% end %>
		<% if permitted_to?(:read, :customers) %>
		<li class="<%= menu_selected :customers %>">
			<%= link_to 'Customers', m2m_customers_url %>
		</li>
		<% end %>
		<% if permitted_to?(:read, :items) %>
		<li class="<%= menu_selected :items %>">
			<%= link_to 'Items', items_url %>
		</li>
		<% end %>
		<% if permitted_to?(:read, :shipping_backlog_reports) %>
		<li class="<%= menu_selected :shipping %>">
			<%= link_to 'Shipping', shipping_backlog_reports_url %>
		</li>
		<% end %>
		<% if permitted_to?(:read, :production_production_dashboard) %>
		<li class="<%= menu_selected :production %>">
			<%= link_to 'Production', inventory_reports_url %>
		</li>
		<% end %>
	</ul>        
</div><!-- nav -->