<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag 'formtastic', 'styles', 'jquery-ui-1.8.20.custom' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :javascripts -%>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="author" content="heedspin" />
  <title><%= get_meta_title %></title>
	<link rel="icon" type="image/png" href="<%= asset_path 'favicon.ico' %>" />
</head>
<body class="popup">
  <div id="header">
    <h2><%= yield :title %></h2>
  </div> 
  <div id="maincopy">
    <%= yield %>
  </div>
</body>
</html>